.navbar-mobile {
  display: block;
}

.navbar-desktop {
  display: none;
}

.nav-links {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-family: Onest;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  color: #9c9c9c;

  &:hover {
    color: #ff003d;
  }
}

@media (min-width: 1064px) {
  .navbar-mobile {
    display: none !important;
  }

  .navbar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .nav-links{
    margin: 1rem;
  }

  nav-links:hover {
    background-color: #ff003d;
  }
}
