@font-face {
  font-family: 'NBArchitekt';
  src: url('../assets/fonts/NB-Architekt-R-Neue-Regular.otf') format('opentype');
}

body {
  background-color: black;
  margin: 0;
  color: white;
  padding: 0 1rem;
  padding: 0;
  width: 80vw;
  height: 100vh;
  overflow: hidden !important;
  margin: auto;
}

.scrollBody {
  overflow: scroll !important;
  overflow-x: hidden !important;
}

.scrollBody::-webkit-scrollbar {
  display: none;
}

.blackVector {
  display: none;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}