@font-face {
  font-family: 'NBArchitekt';
  src: url('../assets/fonts/NB-Architekt-R-Neue-Regular.otf') format('opentype');
}

body {
  background-color: black;
  margin: 0;
  color: white;
  padding: 0 1rem;
  padding: 0;
  width: 80vw;
  height: 100vh;
  overflow-x: hidden;
  margin: auto;
}

.generateButton:hover{
  background-color: #FF2458 !important;
}

.blackVector{
  display: none;
}

.generateButton:active{
  color: black;
  background-color: #FF7979 !important;
}

.generateButton:active .whiteVector{
  display: none;
}

.generateButton:active .blackVector{
  display: block;
}